@import url('https://fonts.googleapis.com/css?family=Monoton|VT323|Montserrat');

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    
}

section {
    width: 100%;
    text-align: center;
    background: #fff;
    background-size: cover; 
    height: 100vh;
    display: table;
    font-family: 'Montserrat', sans-serif;
    color: #eae7dc;
    box-sizing: border-box;
}

#secOne {
   
    img {
        margin:auto; /* Required */
        position:absolute; /* Required */
        bottom:0; /* Aligns at the bottom */
        left:0;right:0; /* Aligns horizontal center */
        max-height:75%; /* images bigger than 175 px  */
        max-width:100%;  /* will be shrinked to size */
    }

.designSite {
    height: 100vh;
    width: 50%;
    background: #000000;
    float: left;

    .textDesign {
    text-align: center;
    position: absolute;
    top: 8%;
    left: 3%;
    font-family: 'Montserrat';
    width: 32%;

    h1 {
        font-size: 4.5vw;
        font-family: 'Monoton', cursive;
    }
    p {
        font-size: 2.5vw;
        text-align: left;
    }
    }
}
.devSite {

    height: 100vh;
    width: 50%;
    float: right;
    position: relative;

    .textDev {
        text-align: center;
        position: absolute;
        top: 8%;
        right: 3%;
        color: black;
        font-family: 'VT323', monospace;
        width: 62%;
    

        h1 {
            font-size: 5.5vw;
        }

        p {
            font-size: 3.5vw;
            text-align: left;
        
        }
    }
}
}

.test {
    background: red;
}